.avatar {
  width: 100px;
  height: auto;
  border-radius: 50%;
  /* Makes the image round */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', sans-serif;
  background: linear-gradient(135deg, rgb(0, 223, 223), #3d04ba, rgb(170, 19, 170));
}

.header {
  background: transparent;
  padding: 10px 0;
  text-align: center;
  color: black;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.about-me {
  background: transparent;
  padding: 20px;
  margin-top: 20px;
}

.work,
.surf-report {
  background: transparent;
  padding: 20px;
  margin-top: 20px;
}

.work-title,
.surf-report-title {
  font-size: 24px;
  color: black;
}

.work-content,
.surf-report-content {
  font-size: 16px;
  color: black;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background: transparent;
}

.portfolio-item {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.portfolio-title {
  font-size: 20px;
  color: black;
}

.portfolio-category {
  font-size: 14px;
  color: black;
}

.contact {
  background: transparent;
  padding: 20px;
  text-align: center;
}

.contact-info {
  margin: 10px 0;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links a {
  text-decoration: none;
  color: black;
}

.nav-links a {
  scroll-behavior: smooth;
}

/* Work images */
.work-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Larger image for the first application */
.first-app {
  width: 75%;
}

/* Responsive layout */
@media (max-width: 768px) {
  .portfolio {
    grid-template-columns: 1fr;
    /* Stack items on smaller screens */
  }

  /* Add other responsive styles as needed */
}

/* Add styles for social media icons */
.icon {}